
        <header align=" center ">
          <h1>Proyecto final : Angular y Springtool </h1>
          <br>
      </header>
  <body>
     <h4>Instrucciones de la practica y lo que se debe entregar</h4> 
   <div >
      Proyecto Final: API Gestión De Inventarios
      <br>
      BackEnd Spring Boot
      <ul>
          <li>CRUD: Categorías</li>
          <li>CRUD: Articulos/Productos</li>
      </ul>   
      FrontEnd
      <br>
      <ul>
        <li>Angular</li>
      </ul>   
      Publicación
      <br>
      <ul>
          <li> BackEnd: Heroku</li>
          <li>FrontEnd: Heroku/Netlify/GithubPages, etc.</li>
      </ul>
         
          
  Repositorio de Código para su revisión
  <br>
 Subir la liga del repositorio para su revisión 
   </div>
   
    

  </body>
          <br>
          <br>
          <br>
          
          <footer align="center">
              <address>
                  ESCOM IPN, Unidad Profesional Adolfo López Mateos, 07320 Ciudad de México, CDMX
              </address>
              <small>
                  Programa realizado por: |Garcia De Arcos Jose Angel Eduardo |
              </small>
  
          </footer>